<script id="tmpl-content" type="text/html">
        <div id="content" class="{{classes}}">
          <div class="wrapper">
            <div class="row">
              {{{content}}}
            </div>
          </div>
        </div>
      </script>

      <script id="tmpl-timeline-content" type="text/html">
        <div class="third">
          <div class="media">
            <div class="img avatar">
              <a class="profile-link" href="/?profile={{id}}"><img src="{{pic}}" alt="{{name}}"></a>
            </div>
            <div class="body">
              <h2 class="end"><a class="profile-link" href="/?profile={{id}}">{{name}}</a></h2>
    <div class="big-copy end">
                <div class="editable" id="inputLocation">{{location}}</div>
              </div>
              <div class="big-copy">
                <div class="editable" id="inputBio">{{bio}}</div>
              </div>
            </div>
          </div>
          <div class="field">
            <textarea id="spark-input" class="text" rows="4" cols="10" placeholder="Share an update"></textarea>
          </div>
          <small class="field-help"><span id="c-count"></span> characters remaining</small>
          <div id="spark-button-div">
            <a id="spark-button" href="#" class="btn default full pushv4">Update Status</a>
          </div>

          <div class="separator pushv4"></div>

          <div id="suggested-users">
            <h3>We suggest you follow:</h3>
          </div>
        </div>
        <div class="twothird">
          <ul id="spark-timeline-list" class="item-list">
          </ul>
        </div>
      </script>

      <script id="tmpl-search-content" type="text/html">
        <input class="text" type="text" id="search-input" />
        <ul id="search-result-list" class="item-list third center">
        </ul>
      </script>

      <script id="tmpl-search-result" type="text/html">
        {{#results}}
        <li>
          <a class="profile-link" href="/?profile={{userId}}">
            <div class="media">
              <div class="img avatar clean">
                <a class="profile-link" href="/?profile={{userId}}">
                  <img src="https://graph.facebook.com/{{userId}}/picture/?type=square&return_ssl_resources=1" alt="{{name}}" />
                </a>
              </div>
              <div class="body ">
                <a class="profile-link" href="/?profile={{userId}}">
                  <p class="main-copy pushv">{{name}}</p>
                </a>
              </div>
            </div>
          </a>
        </li>
        {{/results}}
      </script>

      <script id="tmpl-spark-content" type="text/html">
        <div class="threefifth center aligncenter pushdn4">
          <div class="comment pushv6">
            <div class="huge-copy pushv2">{{content}}</div>
            <div class="meta">{{friendlyTimestamp}}</div>
          </div>

          <div class="img avatar big pushv2 center">
            <a class="profile-link" href="/?profile={{author}}"><img src="{{pic}}" alt="{{by}}" /></a>
          </div>
          <h2 class="pushv"><a class="profile-link" href="/?profile={{author}}">{{by}}</a></h2>
        </div>
      </script>

      <script id="tmpl-profile-body" type="text/html">
        <div class="threefifth center">
          <div class="aligncenter pushv4">
            <div id="profile-content">
            </div>
          </div>
          <ul id="spark-profile-list" class="item-list third left"></ul>
          <br/>
          <div class="profile-column profile-column-left">
            <h3>Followers</h3>
            <ul id="follower-profile-list" class="item-list third center"></ul>
          </div>
          <div class="profile-column profile-column-right">
            <h3>Following</h3>
            <ul id="followee-profile-list" class="item-list third right"></ul>
          </div>
        </div>
      </script>

      <script id="tmpl-user-list" type="text/html">
        {{#users}}
        <li>
          <div class="media">
            <div class="img avatar clean">
              <a class="profile-link" href="/?profile={{userId}}">
                <img src="{{pic}}" alt="{{by}}" />
              </a>
            </div>
            <div class="body {{relative}}">
              <a class="profile-link" href="/?profile={{userId}}">
                <p class="main-copy pushv">{{fullName}}</p>
              </a>
            </div>
          </div>
        </li>
        {{/users}}
      </script>

      <script id="tmpl-profile-content" type="text/html">
        <div class="img avatar big pushv2 center">
          <img src="{{pic}}" alt="{{name}}" />
        </div>
        <h2 class="pushv">{{fullName}}</h2>
        <p class="big-copy pushv">{{location}}</p>
        <p class="big-copy end">{{bio}}</p>
        <div class="pushv4">
          <a href="#" id="followBtn-{{id}}" class="btn default pushv4 btn-follow" data-id="{{id}}">Follow</a>
        </div>
      </script>

      <script id="tmpl-spark" type="text/html">
        <li id="spark-{{sparkId}}">
          <div class="media">
            <div class="img avatar clean">
              <a class="profile-link" href="/?profile={{author}}">
                <img src="{{pic}}" alt="{{by}}" />
              </a>
            </div>
            <div class="body {{relative}}">
              <p class="title end">
                <a class="profile-link" href="/?profile={{author}}">{{by}}</a>
              </p>
              <p class="main-copy pushv">{{content}}</p>
              <p class="meta end">
                <a class="spark-link" href="?spark={{sparkId}}">{{friendlyTimestamp}}</a>
              </p>
            </div>
          </div>
        </li>
      </script>

      <script id="tmpl-suggested-user" type="text/html">
        <div class="media pushv4" id="followBox-{{id}}">
          <div class="img avatar">
            <a class="profile-link" href="/?profile={{id}}">
              <img src="{{pic}}" alt="{{name}}" />
            </a>
          </div>
          <div class="body">
            <p class="big-copy end">
              <a class="profile-link" href="/?profile={{id}}">{{fullName}}</a>
            </p>
            <p class="copy pushv">{{bio}}</p>
            <a href="#" id="followBtn-{{id}}" data-id="{{id}}" class="btn default small btn-follow">Follow</a>
          </div>
        </div>
      </script>
    </div><!-- #wrapper END -->